# PyRamen

## Solving using python only using instruction given

In [27]:
# Importing necessary libraries 
import csv
from pathlib import Path

# Setting file path
menu_filepath = Path('menu_data.csv')
sales_filepath = Path('sales_data.csv')

# Creating lists to hold menu and sales data and transferring the data to the lists
menu = []
sales = []
with open(menu_filepath, mode = 'r') as file:
  reader = csv.reader(file)
  next(reader)
  for row in reader:
    menu.append(row)
with open(sales_filepath, mode = 'r') as file:
  reader = csv.reader(file)
  next(reader)
  for row in reader:
    sales.append(row)

# Changing price, cost, and quantity values to float types
# 4th and 5th elements (price, cost) in the menu list and 4th element (quantity) in the sales list are numbers
for i in range(len(menu)):
  menu[i][3] = float(menu[i][3])
  menu[i][4] = float(menu[i][4])
for i in range(len(sales)):
  sales[i][3] = float(sales[i][3])

In [28]:
# First created an empty dictionary called report. 
# Then, iterate through the sales data to add cumulative data about the total number of items sold (quantity), total revenue, total cost, and total profit and store that data in the report dictionary
# The instruction wanted to print NO MATCH! message every single time, but to save runtime, I have commented it out. 
report = {}
for i in sales:
  quantity = i[3]
  menu_item = i[4]
  if menu_item in report:
    for j in menu:
      item = j[0]
      price = j[3]
      cost = j[4]
      if item == menu_item:
        report[menu_item]['01-count'] += quantity
        report[menu_item]['02-revenue'] += quantity * price
        report[menu_item]['03-cogs'] += quantity * cost
        report[menu_item]['04-profit'] += (price - cost) * quantity
        break
      else:
        pass
        #print(f"{menu_item} does not equal {item}! NO MATCH!")
  else:
    report[menu_item] = {'01-count': 0, '02-revenue': 0, '03-cogs': 0, '04-profit': 0}
    for j in menu:
      item = j[0]
      price = j[3]
      cost = j[4]
      if item == menu_item:
        report[menu_item]['01-count'] += quantity
        report[menu_item]['02-revenue'] += quantity * price
        report[menu_item]['03-cogs'] += quantity * cost
        report[menu_item]['04-profit'] += (price - cost) * quantity
        break
      else:
        pass
        #print(f"{menu_item} does not equal {item}! NO MATCH!")

In [29]:
# Printing report
for key, val in report.items():
  print(key, val)

spicy miso ramen {'01-count': 9238.0, '02-revenue': 110856.0, '03-cogs': 46190.0, '04-profit': 64666.0}
tori paitan ramen {'01-count': 9156.0, '02-revenue': 119028.0, '03-cogs': 54936.0, '04-profit': 64092.0}
truffle butter ramen {'01-count': 8982.0, '02-revenue': 125748.0, '03-cogs': 62874.0, '04-profit': 62874.0}
tonkotsu ramen {'01-count': 9288.0, '02-revenue': 120744.0, '03-cogs': 55728.0, '04-profit': 65016.0}
vegetarian spicy miso {'01-count': 9216.0, '02-revenue': 110592.0, '03-cogs': 46080.0, '04-profit': 64512.0}
shio ramen {'01-count': 9180.0, '02-revenue': 100980.0, '03-cogs': 45900.0, '04-profit': 55080.0}
miso crab ramen {'01-count': 8890.0, '02-revenue': 106680.0, '03-cogs': 53340.0, '04-profit': 53340.0}
nagomi shoyu {'01-count': 9132.0, '02-revenue': 100452.0, '03-cogs': 45660.0, '04-profit': 54792.0}
soft-shell miso crab ramen {'01-count': 9130.0, '02-revenue': 127820.0, '03-cogs': 63910.0, '04-profit': 63910.0}
burnt garlic tonkotsu ramen {'01-count': 9070.0, '02-revenue': 126980.0, '03-cogs': 54420.0, '04-profit': 72560.0}
vegetarian curry + king trumpet mushroom ramen {'01-count': 8824.0, '02-revenue': 114712.0, '03-cogs': 61768.0, '04-profit': 52944.0}

## Solving using python in my own way (optional)

In [30]:
# I will pretend I am starting all over again so will start with importing necessary libraries. 
import csv
from pathlib import Path

# Setting file path
menu_filepath = Path('menu_data.csv')
sales_filepath = Path('sales_data.csv')

# Creating lists to hold menu and sales data and transferring the data to the lists
menu_2 = []
sales_2 = []

# Loading data to the above 2 lists created
source_dict = {menu_filepath: menu_2, sales_filepath: sales_2}
for path, data in source_dict.items():
    with open(path, mode = 'r') as file:
        reader = csv.reader(file)
        next(reader)
        for row in reader:
            data.append(row)

# Changing price, cost, and quantity values to float types
# 4th and 5th elements (price, cost) in the menu list and 4th element (quantity) in the sales list are numbers
for i in range(len(menu_2)):
  menu_2[i][3] = float(menu_2[i][3])
  menu_2[i][4] = float(menu_2[i][4])
for i in range(len(sales_2)):
  sales_2[i][3] = float(sales_2[i][3])

In [31]:
# Created a function that returns a dictionary of report
def report_creater(menu_list, sales_list):
    report = {}
    for i in sales_list:
        if i[4] in report:
            report[i[4]]['01-count'] += i[3]
        else:
            report[i[4]] = {'01-count': i[3], '02-revenue': 0, '03-cogs': 0, '04-profit': 0}
    # Loop through menu data to calculate total revenue, cost, and profit using the price and cost data and quantities sold
    for item in menu_list:
        if item[0] in report.keys():
            report[item[0]]['02-revenue'] = report[item[0]]['01-count'] * item[3]
            report[item[0]]['03-cogs'] = report[item[0]]['01-count'] * item[4]
            report[item[0]]['04-profit'] = report[item[0]]['02-revenue'] - report[item[0]]['03-cogs']
    return report

In [32]:
# Print report
reports = report_creater(menu_2, sales_2)
for key, val in reports.items():
    print(key, val)

spicy miso ramen {'01-count': 9238.0, '02-revenue': 110856.0, '03-cogs': 46190.0, '04-profit': 64666.0}
tori paitan ramen {'01-count': 9156.0, '02-revenue': 119028.0, '03-cogs': 54936.0, '04-profit': 64092.0}
truffle butter ramen {'01-count': 8982.0, '02-revenue': 125748.0, '03-cogs': 62874.0, '04-profit': 62874.0}
tonkotsu ramen {'01-count': 9288.0, '02-revenue': 120744.0, '03-cogs': 55728.0, '04-profit': 65016.0}
vegetarian spicy miso {'01-count': 9216.0, '02-revenue': 110592.0, '03-cogs': 46080.0, '04-profit': 64512.0}
shio ramen {'01-count': 9180.0, '02-revenue': 100980.0, '03-cogs': 45900.0, '04-profit': 55080.0}
miso crab ramen {'01-count': 8890.0, '02-revenue': 106680.0, '03-cogs': 53340.0, '04-profit': 53340.0}
nagomi shoyu {'01-count': 9132.0, '02-revenue': 100452.0, '03-cogs': 45660.0, '04-profit': 54792.0}
soft-shell miso crab ramen {'01-count': 9130.0, '02-revenue': 127820.0, '03-cogs': 63910.0, '04-profit': 63910.0}
burnt garlic tonkotsu ramen {'01-count': 9070.0, '02-revenue': 126980.0, '03-cogs': 54420.0, '04-profit': 72560.0}
vegetarian curry + king trumpet mushroom ramen {'01-count': 8824.0, '02-revenue': 114712.0, '03-cogs': 61768.0, '04-profit': 52944.0}

## Solving using pandas library (optional)

In [33]:
import pandas as pd

In [34]:
pandas_menu = pd.read_csv('menu_data.csv')
pandas_sales = pd.read_csv('sales_data.csv')

In [35]:
pandas_menu['profit'] = pandas_menu.price - pandas_menu.cost

# Creating a function that checks whether items sold are all in our menu or not
def menu_checker(menu_dataframe, sales_dataframe):
    menu_list = []
    not_in_menu = 0
    for i in menu_dataframe.item:
        menu_list.append(i)
    for i in sales_dataframe.Menu_Item.unique():
        if i not in menu_list:
            print(i + ' is not in our menu list')
            not_in_menu += 1
    if not_in_menu == 0:
        print('Everything is in the menu. No missing items')
    elif not_in_menu > 0:
        print(f'{not_in_menu} items are missing in the menu.')
        
        
# Adding price, cost, profit, category columns to pandas_sales
columns = ['price', 'cost', 'profit', 'category']
for i in columns:
  pandas_sales[i] = pandas_sales['Menu_Item'].map(pandas_menu.set_index(['item'])[i])

# Adding total revenue, cost, and profit data
pandas_sales['total_revenue'] = pandas_sales['price'] * pandas_sales['Quantity']
pandas_sales['total_cost'] = pandas_sales['cost'] * pandas_sales['Quantity']
pandas_sales['total_profit'] = pandas_sales['profit'] * pandas_sales['Quantity']

In [36]:
# Checking whether items sold are not in our menu list
menu_checker(pandas_menu, pandas_sales)

Everything is in the menu. No missing items

In [37]:
# Displaying report
pandas_sales.drop(['Date', 'Line_Item_ID', 'Credit_Card_Number', 'profit', 'category', 'price', 'cost'], axis=1).groupby(['Menu_Item']).sum()

,Quantity,total_revenue,total_cost,total_profit
Menu_Item,,,,
burnt garlic tonkotsu ramen,9070,126980.0,54420,72560.0
miso crab ramen,8890,106680.0,53340,53340.0
nagomi shoyu,9132,100452.0,45660,54792.0
shio ramen,9180,100980.0,45900,55080.0
soft-shell miso crab ramen,9130,127820.0,63910,63910.0
spicy miso ramen,9238,110856.0,46190,64666.0
tonkotsu ramen,9288,120744.0,55728,65016.0
tori paitan ramen,9156,119028.0,54936,64092.0
truffle butter ramen,8982,125748.0,62874,62874.0
vegetarian curry + king trumpet mushroom ramen,8824,114712.0,61768,52944.0
vegetarian spicy miso,9216,110592.0,46080,64512.0