# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
engine = create_engine("postgresql+psycopg2://postgres:9712@localhost:5432/uoft-challenge")

In [3]:
query = """
SELECT transaction.*, card_holder.name 
FROM transaction
INNER JOIN credit_card ON transaction.card = credit_card.card
INNER JOIN card_holder ON credit_card.cardholder_id = card_holder.id
"""

transaction_df = pd.read_sql(query, engine)

In [4]:
transaction_df.head()

,id,date,amount,card,id_merchant,name
0,222,2018-01-01 21:35:10,6.22,3561954487988605,69,John Martin
1,2045,2018-01-01 21:43:12,3.83,5135837688671496,85,John Martin
2,395,2018-01-01 22:41:21,9.61,213193946980303,82,Matthew Gutierrez
3,3309,2018-01-01 23:13:30,19.03,4263694062533017,5,Danielle Green
4,567,2018-01-01 23:15:10,2.95,4498002758300,64,Malik Carlson

In [5]:
# Write function that locates outliers using standard deviation
def outliers_by_stdev(df, n_of_stdev):
    # This function will show all the transactions that are n_of_stdev away from standard deviation
    # Low amount of transactions are usually not suspected to be fradulent, so this function only finds the transactions that are higher than certain number of standard deviations
    st_dev = df.amount.std()
    outlier_df = df.loc[df.amount > (st_dev * n_of_stdev)]
    return outlier_df

In [6]:
# Example of outliers that are higher than 9 standard deviations away from the mean
outliers_by_stdev(transaction_df, 9)

,id,date,amount,card,id_merchant,name
487,3098,2018-02-19 22:48:25,1839.0,344119623920892,95,Malik Carlson
1110,2710,2018-04-21 19:41:51,2108.0,3581345943543942,130,Beth Hernandez
1260,3064,2018-05-08 13:21:01,1901.0,30142966699187,108,Stephanie Dalton
2360,3125,2018-09-02 06:17:00,2001.0,3581345943543942,18,Beth Hernandez
2432,2984,2018-09-11 15:16:47,1856.0,3581345943543942,138,Beth Hernandez
3067,2597,2018-11-13 17:07:25,1911.0,5570600642865857,77,Crystal Clark
3263,3163,2018-12-07 07:22:03,1894.0,4761049645711555811,9,Robert Johnson
3327,2945,2018-12-13 15:51:59,2249.0,3516952396080247,83,Sean Taylor

In [7]:
# Find anomalous transactions for 3 random card holders
def three_random_card_anomaly(df, n_of_stdev):
    # Pick three randomly selected cards holders
    three_randoms = np.random.choice(df.name.unique(),3)
    # Filter the dataframe for only selected 3 card holders
    filtered_df = df[df.name.isin(three_randoms)]
    # Still, calculate the standard deviation of all the transactions
    st_dev = df.amount.std()
    # Using the filtered_df, find out if they have any outliers
    outlier_df = filtered_df.loc[filtered_df.amount > (st_dev * n_of_stdev)]
    # If the randomly selected card holders do not have outliers, return this sentence
    if outlier_df.shape[0] == 0:
        return print(f'The selected 3 card holders, {three_randoms[0]}, {three_randoms[1]}, and {three_randoms[2]}, do not have any outliers')
    
    return outlier_df

In [8]:
# Example of outliers of 3 random card holders that are higher than 4 standard deviations away from the mean
three_random_card_anomaly(transaction_df, 4)

The selected 3 card holders, Peter Mckay, Brandon Pineda, and Gary Jacobs, do not have any outliers

## Identifying Outliers Using Interquartile Range

In [9]:
# Write a function that locates outliers using interquartile range
def outliers_by_interquartile(df, quant):
    # Same idea here, low amount will not likely be fradulent, therefore only filtered transaction amounts that are higher than the interquartile
    # quantile parameter will be the proportion of data that is not outliers. 
    # For example, quantile of 0.99 means 99% of data are not considered outliers. This basically means we are considered the highest 1% to be outliers
    outlier_df = df[df.amount > df.amount.quantile(quant).item()]
    return outlier_df

In [10]:
# Example of outliers that are in top 0.5%
outliers_by_interquartile(transaction_df, 0.995)

,id,date,amount,card,id_merchant,name
27,2650,2018-01-04 03:05:18,1685.0,3516952396080247,80,Sean Taylor
235,2913,2018-01-24 13:17:19,1691.0,4761049645711555811,14,Robert Johnson
487,3098,2018-02-19 22:48:25,1839.0,344119623920892,95,Malik Carlson
1110,2710,2018-04-21 19:41:51,2108.0,3581345943543942,130,Beth Hernandez
1260,3064,2018-05-08 13:21:01,1901.0,30142966699187,108,Stephanie Dalton
1508,3139,2018-06-03 20:02:28,1814.0,344119623920892,123,Malik Carlson
1578,3143,2018-06-10 04:54:27,1795.0,30181963913340,45,Laurie Gibbs
1684,2582,2018-06-22 06:16:50,1813.0,4319653513507,40,Nancy Contreras
2043,2508,2018-07-26 23:02:51,1803.0,5570600642865857,68,Crystal Clark
2360,3125,2018-09-02 06:17:00,2001.0,3581345943543942,18,Beth Hernandez
2374,2497,2018-09-04 01:35:39,1790.0,4761049645711555811,43,Robert Johnson
2432,2984,2018-09-11 15:16:47,1856.0,3581345943543942,138,Beth Hernandez
3067,2597,2018-11-13 17:07:25,1911.0,5570600642865857,77,Crystal Clark
3095,3252,2018-11-17 05:30:43,1769.0,344119623920892,18,Malik Carlson
3187,2760,2018-11-27 15:36:05,1802.0,501879657465,70,Megan Price
3263,3163,2018-12-07 07:22:03,1894.0,4761049645711555811,9,Robert Johnson
3327,2945,2018-12-13 15:51:59,2249.0,3516952396080247,83,Sean Taylor
3389,2696,2018-12-19 16:10:03,1724.0,30181963913340,105,Laurie Gibbs

In [11]:
# Find anomalous transactions for 3 random card holders
def three_random_card_by_quantile(df, quant):
    # Pick three randomly selected cards holders
    three_randoms = np.random.choice(df.name.unique(),3)
    # Filter the dataframe for only selected 3 card holders
    filtered_df = df[df.name.isin(three_randoms)]
    # Find the cutoff amount based on the quantile
    outlier_quantile = df.amount.quantile(quant).item()
    # Using the filtered_df, find out if they have any outliers
    outlier_df = filtered_df.loc[filtered_df.amount > outlier_quantile]
    # If the randomly selected card holders do not have outliers, return this sentence
    if outlier_df.shape[0] == 0:
        return print(f'The selected 3 card holders, {three_randoms[0]}, {three_randoms[1]}, and {three_randoms[2]}, do not have any outliers')
    
    return outlier_df

In [12]:
# Example of outliers of 3 randome card holders that are in top 0.5%
three_random_card_by_quantile(transaction_df, 0.995)

The selected 3 card holders, Kyle Tucker, Dana Washington, and Austin Johnson, do not have any outliers